{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ht.sr.srasu/s-expresso {:git/url "https://git.sr.ht/~srasu/s-expresso"
                                :git/sha "5c2251ee126ec54928e27ccf77f55de511f9ad12"}
        io.github.IGJoshua/cljsl {:git/sha "5d8bc2bfccb2bc05a5075564d3802919ba9052d8"}

        net.mikera/core.matrix {:mvn/version "0.62.0"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"}}
 :aliases
 {:dev {:extra-paths ["."]
        :extra-deps {io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}}}
  :linux {:extra-deps {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-openal$natives-linux {:mvn/version "3.3.0"}
                       org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.3.0"}}}
  :windows {:extra-deps {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.0"}
                         org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.0"}
                         org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.3.0"}
                         org.lwjgl/lwjgl-openal$natives-windows {:mvn/version "3.3.0"}
                         org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.3.0"}}}
  :debug/leak-check {:jvm-opts ["-Dorg.lwjgl.util.Debug=true"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}}

  :build {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
                 io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}}
          :ns-default build}}}
